/* App */

:root {
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
  }

body {
  margin: 0 auto;
  width: 970px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;

}

a {
  color: #20a8d8;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #167495;
  text-decoration: underline;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

li {
  margin-top: 12px;
}

h1 {
    font-size: 2.1875rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.53125rem;
}

h4 {
    font-size: 1.3125rem;
}

h5 {
    font-size: 1.09375rem;
}

h6 {
    font-size: .875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
}

h1,
h2 {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

code {
  font-family: monospace;
  padding: .5em;
  background: #f0f0f0;
  color: #444;
  word-break: break-word;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb
}

table td,
table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: .5em 1em
}

table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom
}

table td {
  background-color: transparent;
  border-bottom: 1px solid #cbcbcb;
}

table tbody>tr:last-child>td {
  border-bottom-width: 0
}

/* Highlight.js */

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #f0f0f0;
}

.hljs, .hljs-subst {
  color: #444;
}

.hljs-comment {
  color: #888;
}

.hljs-attribute, 
.hljs-doctag, 
.hljs-keyword, 
.hljs-meta-keyword,
.hljs-name,
.hljs-selector-tag {
  font-weight: 700;
}

.hljs-deletion,
.hljs-number,
.hljs-quote,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-template-tag,
.hljs-type {
  color: #800;
}

.hljs-section,
.hljs-title {
  color :#800;
  font-weight: 700;
}

.hljs-link,
.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable {
  color: #bc6060;
}

.hljs-literal {
  color: #78a960;
}

.hljs-addition,
.hljs-built_in,
.hljs-bullet,
.hljs-code {
  color :#397300;
}

.hljs-meta {
  color: #1f7199;
}

.hljs-meta-string {
  color: #4d99bf;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}